@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap');

body {
    
    background: #80c0d3;
    margin: 5% auto;
    text-align: center;
    font-family: 'Just Me Again Down Here', cursive;
    font-size: 18px;
    line-height: 18px;
}

.form {
    font-size: 18px;
    line-height: 18px;
}

.label {
    cursor: default;
}

.li {
    text-align: webkit-match-parent;
}
